<div class="row" ng-controller="mainController">
    <div ng-class="isFull ? 'col-md-12' : 'col-md-8'">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="clearfix">
                    <div class="pull-left">
                        {{ tpl.title }}
                    </div>
                    <div class="pull-right">
                        <label class="btn btn-default" ng-model="isFull" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" ng-click="switchFull()"><i class="fa fa-arrows-h"></i></label>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div ng-include="tpl.path"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4" ng-hide="isFull">
        <div class="well">
            <button class="btn btn-default" ng-model="isSystemCollapsed" btn-checkbox btn-checkbox-true="false" btn-checkbox-false="true">System</button>
            <div class="btn-group">
                <label class="btn btn-success" ng-model="tpl.path" ng-click="tpl.title = 'Disk'" btn-radio="'/static/tpl/disk.html'" uncheckable>Disk</label>
                <label class="btn btn-success" ng-model="tpl.path" ng-click="tpl.title = 'Net'" btn-radio="'/static/tpl/net.html'" uncheckable>Net</label>
                <label class="btn btn-success" ng-model="tpl.path" ng-click="tpl.title = 'Processes'" btn-radio="'/static/tpl/processes.html'" uncheckable>Processes</label>
            </div>
        </div>
    </div>
    <div class="col-md-4" ng-controller="systemController" collapse="isSystemCollapsed" ng-hide="isFull">
        <div class="panel panel-default panel-info" ng-if="system">
        <!-- Default panel contents -->
            <div class="panel-heading text-center">System</div>
            <div class="panel-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th colspan="2" class="text-center">Hostname</th>
                            <td>{{ system.hostname }}</td>
                        </tr>
                        <tr>
                            <th colspan="2" class="text-center">Boot Time</th>
                            <td>{{ system.boot_time | amDateFormat:'YYYY-MM-DD H:mm:ss' }}</td>
                        </tr>
                        <tr>
                            <th colspan="2" class="text-center">System Time</th>
                            <td>{{ system.now| amDateFormat:'YYYY-MM-DD H:mm:ss' }}</td>
                        </tr>
                        <tr>
                            <th rowspan="2" style="line-height: 53px;">Temperature</th>
                            <th>GPU</th>
                            <td>{{ system.temp.GPU }} ℃</td>
                        </tr>
                        <tr>
                            <th>CPU</th>
                            <td>{{ system.temp.CPU }} ℃</td>
                        </tr>
                        <tr style="border-bottom: 1px solid #ddd;">
                            <th colspan="2" class="text-center">System Up</th>
                            <td>{{ (system.now-system.boot_time) | seconds2human }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Table -->
            <div class="table-responsive" ng-if="system.users">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="text-center" colspan="4"><i class="fa" ng-class="system.users.length == 1 ? 'fa-user' : 'fa-users'"></i></th>
                        </tr>
                        <tr>
                            <th class="text-center">Name</th>
                            <th class="text-center">Logined</th>
                            <th class="text-center">Host</th>
                            <th class="text-center">Terminal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in system.users">
                            <td class="text-center">{{ user.name }}</td>
                            <td class="text-center">{{ user.logined | amDateFormat:'YYYY-MM-DD H:mm:ss'}}</td>
                            <td class="text-center">{{ user.host }}</td>
                            <td class="text-center">{{ user.terminal }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
