<div class="panel panel-default" ng-controller="memController">
    <!-- Default panel contents -->
    <div class="panel-heading">free</div>
    <div class="panel-body">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group" role="group">
                <label class="btn btn-default" ng-model="unit" btn-radio="'K'">K</label>
                <label class="btn btn-default" ng-model="unit" btn-radio="'M'">M</label>
            </div>
        </div>
    </div>

    <!-- Table -->
    <div class="table-responsive" style="">
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th class="text-center">name</th>
                    <th class="text-center">total</th>
                    <th class="text-center">used</th>
                    <th class="text-center">free</th>
                    <th class="text-center">shared</th>
                    <th class="text-center">buffers</th>
                    <th class="text-center">cached</th>
                </tr>
            </thead>
        </table>
    </div>
</div>